<!DOCTYPE html>
<html lang=en id=html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Olivia</title>
    <meta name=twitter:image:src content=https://olivia-ai.org/img/repository-open-graph-template.png>
    <meta name=twitter:site content=@olivia-ai>
    <meta name=twitter:card content=summary_large_image>
    <meta name=twitter:title content=Olivia>
    <meta name=twitter:description content="💁‍♀️Your new best friend built with an artifical neural network">
    <meta property=og:image content=https://olivia-ai.org/img/repository-open-graph-template.png>
    <meta property=og:site_name content=Olivia>
    <meta property=og:type content=website>
    <meta property=og:title content=Olivia>
    <meta property=og:url content=https://olivia-ai.org>
    <meta property=og:description content="💁‍♀️Your new best friend built with an artifical neural network">
    <link rel=manifest href=manifest.json>
    <link href=img/splashscreens/iphone5_splash.png
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel=apple-touch-startup-image>
    <link href=img/splashscreens/iphone6_splash.png
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        rel=apple-touch-startup-image>
    <link href=img/splashscreens/iphoneplus_splash.png
        media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
        rel=apple-touch-startup-image>
    <link href=img/splashscreens/iphonex_splash.png
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
        rel=apple-touch-startup-image>
    <link href=img/splashscreens/ipad_splash.png
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
        rel=apple-touch-startup-image>
    <link href=img/splashscreens/ipadpro1_splash.png
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
        rel=apple-touch-startup-image>
    <link href=img/splashscreens/ipadpro2_splash.png
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
        rel=apple-touch-startup-image>
    <link href=https://unpkg.com/vue-qrcode-reader/dist/vue-qrcode-reader.css rel=stylesheet>
    <script src=https://unpkg.com/vue-qrcode-reader/dist/vue-qrcode-reader.browser.js></script>
    <link href=/css/chunk-2f6d3e46.0000563b.css rel=prefetch>
    <link href=/css/chunk-83f8b44e.604d4ab1.css rel=prefetch>
    <link href=/js/chunk-0d8366d2.c3fb34fb.js rel=prefetch>
    <link href=/js/chunk-125d09a8.6066736d.js rel=prefetch>
    <link href=/js/chunk-2d0d7658.ae18d4ad.js rel=prefetch>
    <link href=/js/chunk-2d0d7aae.f0141f41.js rel=prefetch>
    <link href=/js/chunk-2d0e5dd2.d907a120.js rel=prefetch>
    <link href=/js/chunk-2d217e2b.5e19adf7.js rel=prefetch>
    <link href=/js/chunk-2d2266de.99eacabf.js rel=prefetch>
    <link href=/js/chunk-2d22cc05.d2fa7803.js rel=prefetch>
    <link href=/js/chunk-2d22cc15.62f37fa6.js rel=prefetch>
    <link href=/js/chunk-2e477cf6.8cd4e3fe.js rel=prefetch>
    <link href=/js/chunk-2f6d3e46.ea47cbce.js rel=prefetch>
    <link href=/js/chunk-63467bbc.47f1a3ee.js rel=prefetch>
    <link href=/js/chunk-75c76caf.05d42020.js rel=prefetch>
    <link href=/js/chunk-7b0e9cc9.fab60097.js rel=prefetch>
    <link href=/js/chunk-83f8b44e.a4d1f24a.js rel=prefetch>
    <link as='style' href='https://d33wubrfki0l68.cloudfront.net/bundles/1aad253a94f1af5e735f575416ecad8f45a06988.css'
        rel='preload' />
    <link href=/js/app.0b7c8301.js rel=preload as=script>
    <link href=/js/chunk-vendors.52ae8ebc.js rel=preload as=script>
    <link href='https://d33wubrfki0l68.cloudfront.net/bundles/cd802f59ce4530a49b8fc11fa87e4b7a8942c78e.css'
        rel='stylesheet' />
    <link rel=icon type=image/png sizes=32x32 href=/img/icons/favicon-32x32.png>
    <link rel=icon type=image/png sizes=16x16 href=/img/icons/favicon-16x16.png>
    <link rel=manifest href=/manifest.json>
    <meta name=theme-color content=#ff3aaf>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=default>
    <meta name=apple-mobile-web-app-title content=Olivia>
    <link rel=apple-touch-icon href=/img/icons/apple-touch-icon-152x152.png>
    <link rel=mask-icon href=/img/icons/safari-pinned-tab.svg color=#ff3aaf>
    <meta name=msapplication-TileImage content=/img/icons/msapplication-icon-144x144.png>
    <meta name=msapplication-TileColor content=#fff>
</head>

<body data-smooth-scroll-offset=180><noscript><strong>Olivia works with JavaScript. Please enable it in order to visit
            this website.</strong></noscript>
    <div id=app></div>
    <script src='https://d33wubrfki0l68.cloudfront.net/bundles/7bb3234eb755a6e468bac78254c8567f40048969.js'></script>
</body>

</html>