
.html2canvas-container { width: 3000px; height: 3000px; }

#face {
    max-height: 450px;
    max-width: 300px;
  }
  @media (min-width: 762px) {
    #face {
      max-height: unset;
      max-width: unset;
      height: 450px;
      width: 300px;
    }
  }
  @media (min-width: 992px) {
    #face {
      height: 600px;
      width: 400px;
    }
  }

body.waiting * {
    cursor: progress;
}

